.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;  
  }
  
  .item {
    display: flex;
    border: 2px solid black;
    background-color: rgb(72, 83, 143);
    height: 50px;
    counter-increment: el-counter;
    justify-content: center;
    align-items: center;
    
  }
  .item::after{
    content: counter(el-counter);
    font-size: 18px;
    
    
  
  }